<h1>Invoice for Booking.</h1>
<p>Hello <%= username %></p>
<p>Booking Date: <%= bookingDate %></p>
<p>Tour Title: <%= tourTitle %></p>
<p>Guest Count: <%= guestCount %></p>
<p>TransactionID: <%= transactionId %></p>
<p>Amount Paid:<%= totalAmount %></p>
<p>Thank you for your booking!</p>
<p><a>Download Invoice PDF</a></p>
